div{
  width: 600px;
  height: 150px;
  background-color: rgb(75, 75, 235);
  color: white;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}